@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "gritter";
@import "bourbon";

html,
body {
  margin: 0;
  height: 100%;
}

.custom-nav {
  margin-top: 25px;
}

.custom_gritter {
  background-color: black;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
  width: 200px;
  color: white;
}

.index-icons {
  font-size: 1.25em;
}

.index-icons:hover {
  text-decoration: none;
  color: black;
}
